body {
    margin: 0;
    padding: 0;
    font-family: 'Goldman', cursive;
    background-color: #666;
}

/* Header */
header {
    width: 100%;
    height: 70px;
    background-color: #111;
}

#nav img {
    float: left;
    width: 125px;
    height: 70px;
}

#nav {
    width: 100%;
    height: 70px;
}

.navs {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    font-size: 15px;
}

#nav .navs:hover {
    border-bottom: 1px solid #41C6FF;
}

#btn-sign-in, #btn-sign-up, #profile {
    float: right;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
    color: #999;
    font-size: 25px;
}


/* Modal Content/Box */
.modal-content {
    background-color: #333;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #222;
    width: 80%; /* Could be more or less, depending on screen size */
}


/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form label {
    font-size: 18px;
}


/* body1 */
#body1 {
    width: 100%;
    height: 797px;
}


/* body2 */
#body2 {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    border-top: solid 3px #444;
}

.title {
    width: 100%;
    height: 100px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.canvasholder {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.canvas {
    width: 25%;
    height: 575px;
}

.canvasimage {
    width: 100%;
    height: 450px;
    background-color: pink;
}

.detail {
    width: 100%;
    height: 125px;
    background-color: white;
}


/* FOOTER */
footer {
    width: 100%;
    height: 200px;
    background-color: #111;
    text-align: center;
    color: #666;
    padding-top: 20px;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 0 10px;
    border-radius: 50%;
    background: #666;
    color: #111;
}

.fa:hover {
    opacity: 0.7;
}

@media only screen and (max-width: 850px) {
    footer {
        width: 100%;
        height: auto;
        padding-bottom: 5px;
    }
}