@import 'editCanvas.css';

#loader {
    position: fixed;
    background-color: rgba(3, 3, 3, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    min-height: 100%;
    margin: 0;
    width: 100%;
    max-width: 1920px;
    font-family: 'Fira Code', monospace;
    background-color: #FFF;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
}

html
{
    margin: 0;
    height: 100%;
    --top-spacing: 70px;
    padding-top: var(--top-spacing);
}

header, .post, #introduction,
.create-canvas-container, .form-container {
    border-radius: 1%;
    box-shadow: 0 0.25rem 2.5rem rgba(90, 90, 90, 0.4);
}
section
{
    width: 100%;
    background-color: #FFF;
}

/* Header */
header {
    width: 90%;
    /* height: 70px; */
    background-color: #FFF;
    position: fixed;
    top: 0;
    max-width: 1920px;
    transition: top 0.3s;
}

#nav img {
    float: left;
    width: 125px;
    height: 70px;
}

#nav {
    width: 100%;
}

.navs {
    float: left;
    color: #333;
    text-align: center;
    padding: 2em 1em;
    text-decoration: none;
    font-size: 15px;
}

#nav .navs:hover {
    border-bottom: 1px solid #41C6FF;
}

#btn-sign-in, #btn-sign-up, #btn-sign-out, #btn-profile {
    float: right;
}



section {
    width: 90%;
    margin: 0 auto;
}

.form-container form, section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form label {
    font-size: 18px;
}

.username, .email, .password, .confirmpassword {
    width: 60%;
    max-width: 180px;
}

.form-container, .create-canvas-container {
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-width: 600px;
    background-color: #f8f8f8;
    padding: 1em;
    padding-top: 0.4em;
    color: #30323d;
}

.create-canvas-container {
    width: 80%;
}

#form-bg, .form-container, .create-canvas-container {
    display: none; /* Initialy hidden */
    position: fixed;
}

/* Form background */
#form-bg {
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(200, 200, 200); /* Fallback color */
    background-color: rgba(200, 200, 200, 0.8); /* Black w/ opacity */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* introduction */
#introduction {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 5% 0 2% 0;
}

#introduction p {
    font-size: 20px;
    width: 80%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2em;
}

#introduction h3 {
    font-size: 35px;
}

#canvasses {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-evenly;
}

.post {
    width: 25%;
    margin: 4%;
}
.post * {
    color: black;
}

.canvas-container svg {
    width: 100%;
    height: auto;
}

.canvas-name {
    width: 100%;
    font-size: 1.5em;
}
  
.user-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0.5em;
    border-top: solid 1px #ddd;
}

.canvas-name {
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.like-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.like-count {
    font-size: 1.5em;
    margin-left: 0.2em;
}

/* FOOTER */
footer {
    width: 100%;
    background-color: #1A1A1D;
    text-align: center;
    color: #999;
    padding-top: 20px;
    border: solid 1px #999;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 0 10px;
    border-radius: 50%;
    background: #666;
    color: #FFF;
}

.fa:hover {
    opacity: 0.7;
}

@media only screen and (max-width: 1200px) {
    header {
        width: 100%;
    }

    .post {
        width: 42%;
        margin: 6% 4%;
    }
}

@media only screen and (max-width: 720px) {
    .post {
        width: 90%;
        margin: 10% 5%;
    }
}

@media only screen and (max-width: 540px) {
    .form-container {
        width: 90%;
    }
    .username, .email, .password, .confirmpassword {
        width: 40%;
    }
}