@import 'index.css';

.profile
{
    width: 100%;
    height: auto;
    margin-top: 2%;
}

.usericon
{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.usericon img
{
    height: 175px;
}

#username
{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#total-likes
{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

#total-likes span {
    margin-left: 0.2em
}

.title
{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}